<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>部门经理</string>
				<key>name</key>
				<string>张三</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>员工</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>我的好友好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友好友-2</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>我的好友好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友好友-3</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>我的好友好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友好友-4</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>我的好友好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友好友-5</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>我的好友好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友好友-6</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>我的好友好友-7的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友好友-7</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>我的好友好友-8的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友好友-8</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>我的好友好友-9的个性签名就是这么拽</string>
				<key>name</key>
				<string>我的好友好友-9</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>综合部</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>小学好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>小学好友-0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>小学好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>小学好友-1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>小学好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>小学好友-2</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>小学好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>小学好友-3</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>小学好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>小学好友-4</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>市场部</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>初中好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>初中好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>初中好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-2</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>初中好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-3</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>初中好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-4</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>初中好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-5</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>初中好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-6</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>初中好友-7的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-7</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>产品部</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>高中好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>高中好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>高中好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-2</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>高中好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-3</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>高中好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-4</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>高中好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-5</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>高中好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-6</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>高中好友-7的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-7</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>高中好友-8的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-8</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>高中好友-9的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-9</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>高中好友-10的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-10</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>高中好友-11的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-11</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>高中好友-12的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-12</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>高中好友-13的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-13</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>高中好友-14的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-14</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>研发部</string>
		<key>online</key>
		<integer>11</integer>
	</dict>
</array>
</plist>
